* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

/* header css starts*/

.header {
  display: grid;
  height: auto;
  background-color: #0e0e0e;
  margin-bottom: 20px;
}

.logo-top {
  height: 100px;
  object-fit: auto;
}

/* header css finishes */

.tophero {
  display: grid;
  align-content: center;
  margin-bottom: 20px;
  padding-left: 170px;
}

.hero {
  display: block;
  background-size: contain;
  width: 900px;
  height: 200px;
  resize: both;
  overflow: hidden;
}

/* box css starts */

.main {
  display: grid;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 5px;
  width: 1000px;
  justify-content: center;
}

.card {
  display: grid;
  border: solid 3px black;
  border-radius: 5px;
  width: 300px;
}

/* RELATIVE AND ABSOLUTE POSITIONING */

.main-image {
  position: relative;
}

.absolute-logo {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 60px;
  border-radius: 50px;
}

/* RELATIVE AND ABSOLUTE POSITIONING */

.laptop {
  object-fit: cover;
  width: 100%;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-position: center;
}

.social-icons {
  justify-self: end;
  padding: 0 10px;
}

p {
  padding: 20px;
  border-bottom: 20px;
}
